<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoxOffice</title>
    <!-- vue.js cdn연결 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script> 
    <!-- vue router cdn 연결 -->
    <script src="https://unpkg.com/vue-router@3.5.3/dist/vue-router.js"></script>
    <!-- Axios를 위한 cdn 연결 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
</head>
<body>
    <div id="app">
        <h1>BoxOffice</h1>
        <input type="text" v-model="myTxt">
        <button v-on:click="searBtn"> search!! </button>
        <br><br>
        <router-view name="header"></router-view>
        <router-view></router-view>
        <table class="table table-striped table-sm">
          <thead>
              <tr>
                  <th scope="col">순위</th>
                  <th scope="col">포스터</th>
                  <th scope="col">영화제목</th>
                  <th scope="col">관람객수</th>
                  <th scope="col">개봉일</th>
                  <th scope="col">삭제</th>
              </tr>
          </thead>
        </table>
        <router-view v-bind:props-data="myList" name="footer"></router-view>
        <ul>
          <!-- <li v-for="item in myList"> -->
           <!-- <br /> -->
              <!-- <img :src="item.image" /> -->
          <!-- </li> -->
        </ul>
    </div>
    <script>
        const Body = {template: '<div>  </div>'};
        const Header = {template: '<div>  </div>'};
        const Footer = {template: '<div>  </div>'};

       const headerCmp = {  // 헤더에는 검색필드, 검색버튼, 관련된 액션
            template: '<div> header </div>'
        }
      
        const bodyCmp = { 
          template: '<div> dafault </div>'

        }
      
        const footerCmp = {  // 푸터에는 리스트의 데이터를! 날짜검색에 따른 검색결과로 넣기
          template: '<div> footer </div>',
        //   // 가져올 데이터 뽑아오기, 여기다가 배열을 생성해야하나?
          props: {
            propsData: Array,
           }
        }

        let router = new VueRouter({
          routes : [{  
               path: '/',   
               components: { 
                  header: Body,
                  footer: Header,
                  default: Footer
               }  
          }] 
      
        })
        
        // 영화 순위 사이트 연동하기, 데이터 가져오기
         new Vue({
            router,
            data: {
              myList: []
            },
            methods: {
              myFunc: function(){ 
                // myList= result.data.boxOfficeResult.dailyBoxOfficeList;
                var vm = this; 
                axios({
                    async: true, 
                    url:'http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json',
                    method: 'GET', 
                    timeout: 3000,
                    params: { 
                        key: 'c605b931f51009d4c53d47069e5b40bd',
                        targetDt: this.myTxt
                    },
                    responseType:'json',
                }).then(result => {
                    this.myList = result.data.boxOfficeResult.dailyBoxOfficeList;  // json을 댕길 때 .data를 씀
                }).catch(function(){
                    alert('호출 실패');
                });
              },

            },
            data: {
                myTxt:''
            },
           
        }).$mount('#app');
    </script>
    <style>
      li {
        padding:20px;
        border-bottom:1px solid #aaa;
        text-align:center;
        cursor:pointer;
      }
      </style>
</body>
</html>